@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    background-color: #1c1e21;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/*navbar*/

.nav {
    font-size: 2rem;
    padding: 1%;
    color:  #ecf0f1;
    text-transform: uppercase;
    transition: 0.5s;
    display: inline;
    position: relative;
    overflow: hidden;
}

.nav:after {
    position: absolute;
    content: "";
    background: white;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: right;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
} 

.nav:hover {
    color: white;
    text-shadow: 0 0 50px white;
}

.nav:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}


#logo {
    width: 25vh;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: bounceInDown;
    animation-duration: 2s;
}

.header {
    text-decoration: underline;
}

h3:hover {
    text-shadow: 0px 0px 15px white;
}

@media screen and (max-width: 992px) {
    .header {
        font-size: 1.8rem;
    }
}