@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    background-color: #1c1e21;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.circle {
    width: 15%;
    border-radius: 50%;
    background: #8dc7eb;
    position: relative;
    line-height: 0;
    display: inline-block;
}

.circle::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.circle:hover {
    background: #71a0bd;
}

.circle-content {
    position: absolute;
    bottom: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
}

hr {
    border-style: none;
    border-top-style: dashed;
    border-width: 8px;
    width: 30%;
}

.top-header {
    font-family: "Geo", sans-serif;
    font-size: 7rem  !important;
    color: rgb(57, 125, 226);
    text-shadow: white 0.04em 0.01em;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: rgb(57, 125, 226);
    padding-bottom: 10px;
}

.explore {
    color:rgb(57, 125, 226);
}

#logo {
    width: 25vh;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: bounceInDown;
    animation-duration: 2s;
}

/*Mobile Nav*/

.medium {
    font-size: 3rem !important;
}

#slide-out {
    background-color: #1c1e21;
}

.position-this {
    position: relative !important;
    margin-left: 16px;
}

.collapsible-body ul li{
    position: relative;
    margin-left: 15px;
}

/*navbar*/

.navbar, .navbar li {
    list-style-type: none;
    display: inline;
    overflow: hidden;

}

.nav {
    font-size: 2rem;
    padding: 1%;
    color:  #ecf0f1;
    text-transform: uppercase;
    transition: 0.5s;
    display: inline;
    position: relative;
    overflow: hidden;
}

.nav:after {
    position: absolute;
    content: "";
    background: white;
    transition: transform 0.2s;
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
} 

.nav:hover {
    color: white;
    text-shadow: 0 0 50px white;
}

.nav:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.dropdown-content a:hover{
    background: rgb(82, 75, 75) !important;
}

.dropdown-content a{
    background:  #1c1e21;
    font: white;
}

/* Below the Nav */

.main-header{
    text-align: center;
    color: #fee;
    text-transform: uppercase;
    text-shadow: 0 0 30px rgba(104, 5, 38, 0.6),
        0 0 60px rgba(255,0,84,0.4),
        0 0 100px rgba(233, 88, 137, 0.2),
        0 0 90px rgba(255,0,84,0.1);
    font-size: 3rem;
}

.about-me {
    text-decoration: underline;
    text-align: center;
    padding: 5px;
    
}

h5 {
    text-align: center;
}

.about-me-container {
    position: relative;
    margin-top: 100px;
    border-style: solid;
    border-color: white;
    padding: 10px;
}

.description {
    line-height: 1.6;
    padding: 1.0rem;
}

/* bottom logo */

.made-with-icons {
    margin: 10px;
}

#github {
    color: #fff;
    display: inline-flex;
    vertical-align: top;
}

.links {
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.fic:hover, .ccts:hover {
    text-shadow: 0px 0px 15px white;
}

.bot-icons:hover {
    text-shadow: 0px 0px 15px white;
}

.links {
    border-style: solid;
    border-color:white;
}

@media only screen and (max-width: 850px) { /*if screen is **blank** wide or less, execute the code below */
    .main-header {
        font-size: 2.3rem;
    }
}      

@media only screen and (max-width: 750px) {
     /* hide the nav*/
     /*below code is a temporary solution. Please convert it to a hamburger menu in the future*/
    .navbar {
        display: none;
    }

    h2 {
        font-size: 2.5rem !important;
    }

    .top-header {
        font-size: 5rem !important;
    }
}

@media only screen and (min-width: 750px) {
    .menu {
        display: none !important;
        font-size: 1.5rem !important;
    }
}

@media only screen and (max-width: 768px) {
    .portfolio-link {
        font-size: 2rem !important;
    }

    .explore {
        font-size: 2.5rem;
    }
}

